<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> <%= movie.id %>       </h1>
    <h2> <%= movie.title %> </h2>
    <h3> Rating: <%= movie.rating %> </h3>
    <h3> Awards: <%= movie.awards %> </h3>
    <h3> Length: <%= movie.length %> </h3>
    <h3> Release Date: <%= movie.release_date %> </h3>
    
    <a href="/edit/<%= movie.id %>" class="action-button edit">
        EDIT
    </a>

    <form action="/delete/<%= movie.id %>?_method=DELETE" method="POST" style="display: inline-flex">
        <button type="submit" class="action-button delete">DELETE</button>
    </form>




</body>
</html>